<!DOCTYPE html>
<html xmlns:n="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Odpisy online</title>

	<link rel="shortcut icon" href="{$basePath}/images/kazda.jpg">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css" />
	<link rel="stylesheet" href="{$basePath}/css/synergic-ui.min.css" />
</head>

<body class="has-footer-sticky">
	<section class="section section-header">
		<div class="container">
			<h1 class="section-header-title">Odpisy</h1>
			<h2 class="section-header-subtitle">Online kalkulace</h2>
		</div><!-- .container -->
	</section>
	<section class="section section-content">
		{include content}
	</section>
	<footer role="contentinfo" class="footer footer-sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<a href="http://kazda.org"  target="_blank" title="Created by Synergic">
						<img src="{$basePath}/images/kazda.jpg" />
					</a>
				</div>
			</div><!-- .row -->
		</div><!-- .container -->
	</footer>
	{block scripts}
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="{$basePath}/js/synergic-ui.min.js"></script>
	{/block}
</body>
</html>
