{* This is the welcome page, you can delete it *}

{block content}
<div class="container">
	<div n:foreach="$flashes as $flash" class="alert alert-error fade in">{$flash->message}</div>
	<div class="col-md-2"></div>
	<div class="col-xs-8">
		{form writeOffForm}
			<div class="form-group">
				<div class="input-group date">
					<span class="input-group-addon">Cena:</span>
						{input price}
					<span class="input-group-addon">Kč</span>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group date">
					<span class="input-group-addon">Rok pořízení:</span>
					{input year}
				</div>
			</div>
			<div class="form-group col-md-4 col-xs-12 text-center">
				<div class="input-group date">
					<label>Třída</label>
					{input class}
				</div>
			</div>
			<div class="form-group col-md-4 col-xs-12 text-center">
				<div class="input-group date">
					<label>Typ odpisu</label>
					{input type}
				</div>
			</div>
			<div class="form-group col-md-4 col-xs-12 text-center">
				<div class="input-group date">
					<label>&nbsp;</label>
					{input send}
				</div>
			</div>
		{/form}
		{ifset $writeOff}
			<table class="table">
				<thead><tr><td>#</td><td>Rok</td><td>Odpis</td></tr></thead>
				<tbody>
				<tr n:foreach="$writeOff as $w"><td>{$iterator->getCounter()}</td><td>{$yearPurchase++}</td><td>{$w} Kč</td></tr>
				</tbody>
			</table>
		{/ifset}
	</div>
</div>